<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="fragments/header">
<head>
<title>[[#{form.usuario.titulo.mine}]]</title>
</head>
<body>
	<h1 layout:fragment="pgname" th:text="#{form.usuario.titulo}"></h1>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><a href="#" th:href="@{/}" th:text="#{menu.home}">Home</a></li>
		<li><a href="#" th:href="@{/usuario}"
			th:text="#{form.usuario.Lista}">Home</a></li>
		<li class="active">Usuário</li>
	</ul>
	<section class="container" layout:fragment="content">
		<div class="row">

			<!-- Cadastro -->
			<div class="col">

				<form class="white-row" th:action="@{/usuario/salvar}"
					th:object="${usuario}" method="post">

					<!-- alert failed -->
					<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
						<p th:each="err : ${#fields.errors('*')}">
							<i class="fa fa-frown-o"></i>
							[[#{${err}}]]
						</p>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="col">
								<label th:text="#{form.usuario.nome}"></label>
								 <input type="text" th:field="*{nome}"
									class="form-control"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col">
								<label th:text="#{form.usuario.email}"></label>
								 <input type="text" th:field="*{email}"
									class="form-control"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col">
								<label>Password</label> <input type="password" th:field="*{password}"
									class="form-control"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<input type="submit" th:value="#{btn.salvar}"
								class="btn btn-primary pull-right push-bottom"
								data-loading-text="Loading..."/>
						</div>
					</div>

				</form>

			</div>
			<!-- /REGISTER -->

		</div>
	</section>
</body>
</html>